main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.product {
  width: 900px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid  rgba(235, 235, 235, 0.904);
  border-radius: 12px;
  display: flex;
}

.detail {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.metric-body {
  display: flex;
  justify-content: center;
  padding: 0 40px;
}

.metric-body .label {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.08em;
  color: #BDBDBD;
}

.metric {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 100px;
}

.metric.match {
  flex: 2;
}

.metric.price {
  flex: 3;
}

.metric span {
  color:  #BDBDBD;
  text-align: center;
}

.metric .value {
  font-family: neue-haas-grotesk-display;
  font-size: 54px;
  line-height: 71px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.value.match {
  font-weight: 700;
  color: #F2C94C;
}

.label-icon {
  display: flex;
  flex-direction: row;
}

.dot {
  height: 14px;
  width: 14px;
  background-color: #ECECEC;
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 6px;
  height: 12px;
  font-size: 9px;
}

.detail h5 {
  font-family: oxtail,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  color: #000000;
}

/* tooltip */

.tooltip {
  border-radius: 10px;
  padding: 10px 15px;
  position: relative;
  margin: 15px;
  text-align: center;
}

.tooltip::after {
  width: 100px;
  border-radius: 10px;
  background-color: rgba(189, 189, 189);
  color: #FFFFFF;
  display: none;
  padding: 10px 15px;
  text-align: center;
  z-index: 2;
}

.tooltip.bottom::after {
  content: 'Lorem ipsum dolor sit amet';
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(18% + 10px));
}

.tooltip:hover::after {
  display: block;
}

.tooltip.bottom::before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}

.tooltip::before {
  background-color: rgba(189, 189, 189);
  content: ' ';
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 0px 0px 90px 0px;
  z-index: 1;
}

.tooltip:hover::before {
  display: block;
}




@media only screen and (max-width: 960px){
  .product {
    width: 275px;
    height: 900px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 960px){
  .metric-body {
    width: 200px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 960px){
  .metric.match {
    width: 200px;
    height: 900px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 960px){
  .detail {
    width: 200px;
    height: 900px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 960px) {
  main {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
 
@media only screen and (max-width: 960px) {
  .product {
      display: flex;
      align-items: center;
  }
}
 