.product {
  width: 900px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid  rgba(235, 235, 235, 0.904);
  border-radius: 12px;
  display: flex;
}

.detail {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.metric-body {
  display: flex;
  padding: 0 40px;
}

.metric {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.metric span {
  color:  rgb(150, 150, 150);
}

.detail h5 {
  font-family: oxtail,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  color: #000000;
}
