
.categories {
  width: 500px;
  height: 40px;
  padding: 30px 0 34px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.categories a {
  padding-left: 40px;
  color: rgb(150, 150, 150);
  text-decoration: none;
  line-height: 17px;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 300ms;
}

.categories a:hover {
  color: #000000;
}

/* content */

.content {
  /* width: 1255px; */
  display: flex;
}

.results {
  height: 800px;
  width: 900px;
  margin-left: 20px;
}

.results-header {
  /* width: 900px; */
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid  rgba(235, 235, 235, 0.904);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-header h6 {
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* product */

.photo {
  height: 200px;
  width: 200px;
  margin: 0 ;
  border-right: 1px solid rgba(235, 235, 235, 0.904);
  display: inline-block;
}

@media only screen and (max-width: 960px){
  .results-headers {
    width: 200px;
  }
}

@media only screen and (max-width: 960px) {
  .photo {
    border-right: 0;
  }
}

@media only screen and (max-width: 960px){
  .results {
    /* width: 100%; */
    height: 900px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 960px){
  .results-header {
    width: 275px;
  }
}